* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Sofia Pro Semi Bold';
    font-weight: 600;
}

.clear {
    clear: both;
    width: 1rem;
    height: 2rem;
}

header {
    position: relative;
    max-height: 950px;
    display: flex;
    overflow: hidden;
}

.bannervideo {
    width: 100%;
    object-fit: cover;
    max-height: 950px;

}

nav {
    position: absolute !important;
    width: 100%;
    z-index: 5;
}

.gallerycontain {
    margin: 5rem 0;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 0 0 352.5px 352.5px;
    border-style: solid;
    border-color: transparent transparent rgba(79, 189, 107, .6) transparent;
    position: absolute;
    bottom: 0;
    z-index: 4;
    transition: all .4s;
    right: -50rem;
}

.imgcol {
    cursor: pointer;
    overflow: hidden;
}

.imgcol img {
    width: 100%;
}

.imgcol:hover .triangle {
    right: 0;
}

.bigfilter {
    position: absolute;
    z-index: 3;
    background-image: linear-gradient(180deg, transparent, rgb(20, 20, 15));
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: end;
    /* max-width: 705px; */
    padding-left: 1rem;
}

.pinkarea {
    background-image: linear-gradient(to right, #EAC5D0, rgba(0, 0, 0, .25));
    width: 100%;
    justify-content: space-between;
}

.content.col-lg-6 {
    flex-direction: column;
}

.header.col-lg-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.header.col-lg-9 h1 {
    font-size: 5.5rem;
    font-weight: bold;
}

.detail {
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: all .4s;
    padding: 1rem;
    font-size: 1.25rem;
}

.detail:hover {
    background: white;
    color: #EAC5D0;

}

.textbtn {
    max-width: 400px;
}

.contactus {
    position: relative;
}

.contfilter {
    background-image: linear-gradient(to left, transparent, rgb(20, 20, 15));
    color: #fff;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0 0 0 3rem;
    display: flex;

}

.contfilter .detail:hover {
    color: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px !important;
    }
}

.logo img {
    max-width: 180px;
    object-fit: contain;
}

.navrow {
    width: 100%;
    justify-content: space-between;
}

.menulabel {
    margin-top: .5rem;
    position: relative;
    color: #616161;
    cursor: pointer;
    z-index: 1;
}

#menu__toggle {
    opacity: 0;
}

.hamburger-menu {
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: relative;
    padding: 1rem 0 0 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 700px;
    border-bottom-left-radius: 50px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
    text-decoration: none;
}

.gallery {
    display: flex;
    position: relative;
}

.gallery img {
    width: 230px;
    height: 377px;
    position: relative;
    object-fit: fill;

    cursor: pointer;
    transition: all .4s;
}

.hoverimages {
    position: relative;
}

.spotdiv {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gallery .row {
    margin: 0 auto;
}

.gallery .filter {
    width: 100%;
    transition: width .4s;
    z-index: 2;
    top: 0;
    height: 377px;
    position: absolute;
    cursor: pointer;
    background-image: linear-gradient(180deg, transparent, rgb(20, 20, 15));
}

.gallery .hoverimages:hover img {
    width: 350px;
    height: 377px;
    z-index: 2;
}

.gallery .hoverimages:hover .filter {

    z-index: 3;
}

.galleryflex {
    display: flex;
}

.contimg img {
    width: 100%;
}

.fotocontain .row .imgcol:first-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fotocontain .row .imgcol:last-child {
    padding-right: 0 !important;
}

.contimg {
    padding: 0 !important;
}

.pinkimage {

    padding: 0 2rem !important;
}

.greenbg {
    overflow: hidden;
    background: #60D877;
    position: relative;
}

.hr {
    border: 1px solid white;
    width: 645px;
    position: relative;
}

.rotate1 {
    transform: rotate(25deg);
    float: right;
    margin: 8rem -2rem 0 0;
}

.rotate2 {
    transform: rotate(-25deg);

    margin: 8rem 0 0 -2rem;
}

.katalok {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    margin: 4rem auto;
    align-items: center;
    max-width: 400px;
    position: relative;
    bottom: 3rem;
}

.ftlogo {
    width: 100%;
}

.ftlogo div {
    max-width: 180px;
    margin: 0 auto;
}

.ftlogo div img {
    object-fit: cover;
    width: 100%;
}

footer {
    padding: 2rem 0 .5rem 0;
}

.ftlist {
    margin: 4rem auto !important;
    max-width: 1200px;
}

.copy {
    font-size: 1.25rem;
}

.copyright div {
    text-align: center;
}

.ftlist ul {
    list-style-type: none;
}

.ftlist ul li a {
    font-weight: bold;
    opacity: 0.65;

}

.icons {
    max-width: 200px;
    font-size: 1.85rem;
    display: flex;
    justify-content: space-between;
}

a:hover {
    text-decoration: none !important;
}

@media only screen and (max-width: 1700px) {
    .gallerycontain {
        margin: 7rem 0;
    }
}

@media only screen and (max-width: 1460px) {

    .pinkimage {
        padding: 0 !important;
    }

    .pinkarea {
        margin: 0 !important;
    }

    .pinkimage img {
        width: 100%;
    }
}

@media only screen and (max-width: 1435px) {
    .fotocontain .row .imgcol:first-child {
        padding-left: 15px !important;
        padding-right: 0 !important;
    }

}

@media only screen and (max-width: 1400px) {


    .pinkarea {
        margin: 0 !important;
    }

    .pinkimage {
        padding: 0 !important;
    }

    .galleryflex {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
        column-gap: 3rem;
        width: 100%;
    }


    .foryou {
        margin: 0 auto;
    }

    .pinkarea {
        width: auto;
        margin: 0 1rem;
    }

    .gallery {
        margin: 0 auto;
    }



    .gallery img,
    .gallery .hoverimages:hover img,
    .gallery .filter {
        width: 400px;

    }

    .imgcol img {
        width: 100%;

    }

    .hoverimages {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1320px) {
    .galleryflex {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        width: 100%;
    }

    .gallery {
        margin: 0 auto;
    }

    .gallerycontain {
        text-align: center;
    }


    .gallery img,
    .gallery .hoverimages:hover img,
    .gallery .filter {
        width: 350px;

    }
}

@media only screen and (max-width: 1200px) {
    .galleryflex {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 1rem;
        width: 100%;
    }

    .gallery img,
    .gallery .hoverimages:hover img,
    .gallery .filter {
        width: 100%;
        object-fit: fill;

    }

    .header.col-lg-9 h1 {
        font-size: 3.5rem;
    }

    .path {
        display: none;
    }

    .textbtn {
        max-width: 250px;
    }
}

@media only screen and (max-width: 1044px) {

    .fotocontain .row .imgcol img {
        width: 100%;
    }

    .fotocontain .row .imgcol:first-child {
        padding-right: 0px !important;
    }
}


@media only screen and (max-width: 992px) {

    .pinkimage img {

        margin-left: 0rem;
    }

    .pinkimage {
        padding: 0 !important;
    }

    .textbtn {
        max-width: 350px;
        margin: 2rem;
    }

    .textbtn h1 {
        font-size: 8rem;
    }

    .triangle {
        border-width: 0 0 250.5px 210.5px;
    }
}

@media only screen and (max-width: 768px) {
    .menu__box {
        right: -200%;
        width: 280px;
    }

    .spotdiv {
        text-align: center;
        padding: 13% 0;
    }

    .imgcol {
        margin: 1rem 0;
    }




    .contfilter .detail {
        font-size: 1rem;
        padding: .5rem;
    }
    .hr {
        width: 335px;
    }

    .rotate1 {

        margin: 4rem -2rem 0 0;
    }

    .rotate2 {
        margin: 4rem 0 0 -2rem;
    }
}

@media only screen and (max-width: 575px) {
    .hamburger-menu {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .gallerycontain {
        margin: 2rem 0;
    }

    .imgcol img {
        width: 100%;

    }

    .fotocontain .row {
        margin: 0 auto;
    }

    .imgcol,
    .bigfilter {
        max-width: 545px;
    }
    .hr {
        width: 297px;
    }



    .katohead h1 {
        font-size: 1.75rem;
    }

    .greenbtn:hover {
        color: #60d877 !important;
    }

    .greenbtn {
        font-size: 1rem;
    }

    footer {
        text-align: center;
    }

    footer .ftlist div {
        margin-top: 1rem !important;
    }

    .icons {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 480px) {
    .hamburger-menu {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .logo {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .logo img {
        max-width: 100px;
    }

    .galleryflex {

        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;

    }

    .gallerycontain {
        margin: 2.5rem 0;
    }

    .spot {
        font-size: 1.75rem;
    }

    .head h1 {
        font-size: 1.5rem;
    }

    .contfilter {
        line-height: .5rem;
    }
}

@media only screen and (max-width: 375px) {
    .textbtn {
        max-width: 250px;
        margin: 2rem;
    }

    .textbtn h1 {
        font-size: 2.5rem !important;
    }

    .contfilter {
        line-height: .25rem;
        font-size: .75rem;
    }
    .hr {
        width: 250px;
    }
    .rotate2 {
        margin: 2rem 0 0 -2rem;
    }
    .rotate1 {
        margin: 2rem -2rem 0 0;
    }
    .head h1 {
        font-size: 1rem;
    }
    .contfilter {
        line-height: .15rem;}
}